html {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;

    color: #848484;
}

a {
    color: #8c40ca;
}

.menu-user{
    background-color: #ffffff;
    color: #848484;
}

.filter-tag-link {
    color: #000;
}

.show-edit-link {
    color: #404040;
}

.header-bitmap {  
    background-image: url('../../public/storage/images/advertising/bitmap.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.dark {
    background-color: #3d3d3d;
    color: #ffffff;

    .link-color {
        color: #ffffff;
    }

    .link-select {
        color: #000;
        background-color: #c7c7c7;
    }

    .theme {    
        &:hover {
            border: 2px solid #ffffff;
        }
    }

    .header {    
        box-shadow: 5px 10px 15px 0 #000000;
    }

    .container-wrapper {    
        box-shadow: 5px 10px 15px 0 #000000;
    }

    a {
        color: #9d4cdf;
    }

    .menu-user{
        background-color: #3d3d3d;
        color: #ffffff;

        a {
            color: #ffffff;
        }

        button {
            color: #ffffff;
            padding: 5px 10px;
            margin: 5px;
            border-radius: 10px;
    
            font-weight: 500;
            font-size: 24px;
    
            &:hover {
                color: #494949;
                background-color: #e2e2e2;
            }
        }
    }

    .card {
        box-shadow: 5px 10px 15px 0 #000000;
    }

    .paginator-num {
        box-shadow: 5px 10px 15px 0 #000000;

        a {
            color: #ffffff;
            font-weight: 700;
        }
    }

    .paginator-nolink {
        font-weight: 700;
    }

    .filter-tag-link {
        color: #000;
    }

    .show-edit-link {
        color: #000000;
    }

    .show-delete-btn {
        color: #000000;
    }

    .table-dashboard {
        box-shadow: 5px 10px 15px 0 #000000;
    }

    .admin-table {
        box-shadow: 5px 10px 15px 0 #000000;
    }

    .mob-link {
        background-color: #3d3d3d;
    }
}