.icon-logo {
    display: block;
    height: 39px;
    width: 46px;
    background-image: url('../../public/storage/images/logo/logo3.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-logo-big {
    display: block;
    height: 118px;
    width: 139px;
    background-image: url('../../public/storage/images/logo/logo-big.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-down {
    display: block;
    height: 11px;
    width: 17px;
    background-image: url('../../public/storage/images/icons/down.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-theme {
    display: block;
    height: 22px;
    width: 22px;
    background-image: url('../../public/storage/images/icons/theme.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-warning {
    display: block;
    height: 19px;
    width: 22px;
    background-image: url('../../public/storage/images/icons/warning.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-close {
    display: block;
    height: 14px;
    width: 14px;
    background-image: url('../../public/storage/images/icons/close.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-search {
    display: block;
    height: 18px;
    width: 18px;
    background-image: url('../../public/storage/images/icons/search.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-email {
    display: block;
    height: 16px;
    width: 20px;
    background-image: url('../../public/storage/images/icons/email.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-key {
    display: block;
    height: 12px;
    width: 23px;
    background-image: url('../../public/storage/images/icons/key.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-user {
    display: block;
    height: 21px;
    width: 18px;
    background-image: url('../../public/storage/images/icons/user.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-link {
    display: block;
    height: 18px;
    width: 18px;
    background-image: url('../../public/storage/images/icons/link.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-heading {
    display: block;
    height: 24px;
    width: 24px;
    background-image: url('../../public/storage/images/icons/heading.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-tags {
    display: block;
    height: 24px;
    width: 24px;
    background-image: url('../../public/storage/images/icons/tags.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-newspaper {
    display: block;
    height: 24px;
    width: 24px;
    background-image: url('../../public/storage/images/icons/newspaper.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-email-big {
    display: block;
    height: 20px;
    width: 20px;
    background-image: url('../../public/storage/images/icons/email-big.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-refresh {
    display: block;
    height: 24px;
    width: 24px;
    background-image: url('../../public/storage/images/icons/refresh.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-approved {
    display: block;
    height: 24px;
    width: 24px;
    background-image: url('../../public/storage/images/icons/approved.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-pending-approval {
    display: block;
    height: 20px;
    width: 20px;
    background-image: url('../../public/storage/images/icons/pending-approval.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-lock {
    display: block;
    height: 21px;
    width: 16px;
    background-image: url('../../public/storage/images/icons/lock.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-tel {
    display: block;
    height: 18px;
    width: 18px;
    background-image: url('../../public/storage/images/icons/tel.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-vk {
    display: block;
    height: 42px;
    width: 42px;
    background-image: url('../../public/storage/images/icons/vk.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-telegram {
    display: block;
    height: 46px;
    width: 46px;
    background-image: url('../../public/storage/images/icons/telegram.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-telegram2 {
    display: block;
    height: 18px;
    width: 20px;
    background-image: url('../../public/storage/images/icons/telegram2.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-whatsapp {
    display: block;
    height: 46px;
    width: 46px;
    background-image: url('../../public/storage/images/icons/whatsapp.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-apartment {
    display: block;
    height: 20px;
    width: 20px;
    background-image: url('../../public/storage/images/icons/apartment.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-watch {
    display: block;
    height: 20px;
    width: 20px;
    background-image: url('../../public/storage/images/icons/watch.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-login {
    display: block;
    height: 18px;
    width: 18px;
    background-image: url('../../public/storage/images/icons/login.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.icon-menu {
    display: block;
    height: 12px;
    width: 18px;
    background-image: url('../../public/storage/images/icons/menu.svg');
    background-position: center;
    background-repeat: no-repeat;
}